@charset "UTF-8";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
article .task-list-control .task-list-indicator::before, article summary::after, article .critic.comment::before, article .footnote-backref {
  font-family: "Material Icons";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  speak: none;
  word-wrap: normal;
  direction: ltr;
}
:root {
  --md-admonition-icon--note: svg-load("@mdi/svg/svg/pencil.svg");
  --md-admonition-icon--abstract: svg-load("@mdi/svg/svg/text-subject.svg");
  --md-admonition-icon--info: svg-load("@mdi/svg/svg/information.svg");
  --md-admonition-icon--tip: svg-load("@mdi/svg/svg/fire.svg");
  --md-admonition-icon--success: svg-load("@mdi/svg/svg/check-circle.svg");
  --md-admonition-icon--question: svg-load("@mdi/svg/svg/help-circle.svg");
  --md-admonition-icon--warning: svg-load("@mdi/svg/svg/alert.svg");
  --md-admonition-icon--failure: svg-load("@mdi/svg/svg/close-circle.svg");
  --md-admonition-icon--danger: svg-load("@mdi/svg/svg/flash-circle.svg");
  --md-admonition-icon--bug: svg-load("@mdi/svg/svg/bug.svg");
  --md-admonition-icon--example: svg-load("@mdi/svg/svg/format-list-numbered.svg");
  --md-admonition-icon--quote: svg-load("@mdi/svg/svg/format-quote-close.svg");
}

.md-typeset .admonition, .md-typeset article details, article .md-typeset details {
  margin: 1.5625em 0;
  padding: 0 0.6rem;
  overflow: hidden;
  font-size: 0.8rem;
  page-break-inside: avoid;
  border-left: 0.2rem solid #448aff;
  border-radius: 0.1rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.05), 0 0 0.05rem rgba(0, 0, 0, 0.1);
}
[dir=rtl] .md-typeset .admonition, [dir=rtl] .md-typeset article details, article [dir=rtl] .md-typeset details {
  border-right: 0.2rem solid #448aff;
  border-left: none;
}
@media print {
  .md-typeset .admonition, .md-typeset article details, article .md-typeset details {
    box-shadow: none;
  }
}
html .md-typeset .admonition > :last-child, html .md-typeset article details > :last-child, article html .md-typeset details > :last-child {
  margin-bottom: 0.6rem;
}
.md-typeset .admonition .admonition, .md-typeset article details .admonition, article .md-typeset details .admonition, .md-typeset .admonition article details, article .md-typeset .admonition details, .md-typeset article details details, article .md-typeset details details {
  margin: 1em 0;
}
.md-typeset .admonition .md-typeset__scrollwrap, .md-typeset article details .md-typeset__scrollwrap, article .md-typeset details .md-typeset__scrollwrap {
  margin: 1em -0.6rem;
}
.md-typeset .admonition .md-typeset__table, .md-typeset article details .md-typeset__table, article .md-typeset details .md-typeset__table {
  padding: 0 0.6rem;
}
.md-typeset .admonition-title, .md-typeset article summary, article .md-typeset summary {
  position: relative;
  margin: 0 -0.6rem;
  padding: 0.4rem 0.6rem 0.4rem 2rem;
  font-weight: 700;
  background-color: rgba(68, 138, 255, 0.1);
}
[dir=rtl] .md-typeset .admonition-title, [dir=rtl] .md-typeset article summary, article [dir=rtl] .md-typeset summary {
  padding: 0.4rem 2rem 0.4rem 0.6rem;
}
html .md-typeset .admonition-title:last-child, html .md-typeset article summary:last-child, article html .md-typeset summary:last-child {
  margin-bottom: 0;
}
.md-typeset .admonition-title::before, .md-typeset article summary::before, article .md-typeset summary::before {
  position: absolute;
  left: 0.6rem;
  width: 1rem;
  height: 1rem;
  background-color: #448aff;
  mask-image: var(--md-admonition-icon--note);
  content: "";
}
[dir=rtl] .md-typeset .admonition-title::before, [dir=rtl] .md-typeset article summary::before, article [dir=rtl] .md-typeset summary::before {
  right: 0.6rem;
  left: initial;
}
.md-typeset .admonition-title code, .md-typeset article summary code, article .md-typeset summary code {
  margin: initial;
  padding: initial;
  color: currentColor;
  background-color: transparent;
  border-radius: initial;
  box-shadow: none;
}

.md-typeset .admonition.note, .md-typeset article details.note, article .md-typeset details.note {
  border-color: #448aff;
}

.md-typeset .note > .admonition-title, .md-typeset article .note > summary, article .md-typeset .note > summary {
  background-color: rgba(68, 138, 255, 0.1);
}
.md-typeset .note > .admonition-title::before, .md-typeset article .note > summary::before, article .md-typeset .note > summary::before {
  background-color: #448aff;
  mask-image: var(--md-admonition-icon--note);
}

.md-typeset .admonition.abstract, .md-typeset article details.abstract, article .md-typeset details.abstract, .md-typeset .admonition.tldr, .md-typeset article details.tldr, article .md-typeset details.tldr, .md-typeset .admonition.summary, .md-typeset article details.summary, article .md-typeset details.summary {
  border-color: #00b0ff;
}

.md-typeset .abstract > .admonition-title, .md-typeset article .abstract > summary, article .md-typeset .abstract > summary, .md-typeset .tldr > .admonition-title, .md-typeset article .tldr > summary, article .md-typeset .tldr > summary, .md-typeset .summary > .admonition-title, .md-typeset article .summary > summary, article .md-typeset .summary > summary {
  background-color: rgba(0, 176, 255, 0.1);
}
.md-typeset .abstract > .admonition-title::before, .md-typeset article .abstract > summary::before, article .md-typeset .abstract > summary::before, .md-typeset .tldr > .admonition-title::before, .md-typeset article .tldr > summary::before, article .md-typeset .tldr > summary::before, .md-typeset .summary > .admonition-title::before, .md-typeset article .summary > summary::before, article .md-typeset .summary > summary::before {
  background-color: #00b0ff;
  mask-image: var(--md-admonition-icon--abstract);
}

.md-typeset .admonition.info, .md-typeset article details.info, article .md-typeset details.info, .md-typeset .admonition.todo, .md-typeset article details.todo, article .md-typeset details.todo {
  border-color: #00b8d4;
}

.md-typeset .info > .admonition-title, .md-typeset article .info > summary, article .md-typeset .info > summary, .md-typeset .todo > .admonition-title, .md-typeset article .todo > summary, article .md-typeset .todo > summary {
  background-color: rgba(0, 184, 212, 0.1);
}
.md-typeset .info > .admonition-title::before, .md-typeset article .info > summary::before, article .md-typeset .info > summary::before, .md-typeset .todo > .admonition-title::before, .md-typeset article .todo > summary::before, article .md-typeset .todo > summary::before {
  background-color: #00b8d4;
  mask-image: var(--md-admonition-icon--info);
}

.md-typeset .admonition.tip, .md-typeset article details.tip, article .md-typeset details.tip, .md-typeset .admonition.important, .md-typeset article details.important, article .md-typeset details.important, .md-typeset .admonition.hint, .md-typeset article details.hint, article .md-typeset details.hint {
  border-color: #00bfa5;
}

.md-typeset .tip > .admonition-title, .md-typeset article .tip > summary, article .md-typeset .tip > summary, .md-typeset .important > .admonition-title, .md-typeset article .important > summary, article .md-typeset .important > summary, .md-typeset .hint > .admonition-title, .md-typeset article .hint > summary, article .md-typeset .hint > summary {
  background-color: rgba(0, 191, 165, 0.1);
}
.md-typeset .tip > .admonition-title::before, .md-typeset article .tip > summary::before, article .md-typeset .tip > summary::before, .md-typeset .important > .admonition-title::before, .md-typeset article .important > summary::before, article .md-typeset .important > summary::before, .md-typeset .hint > .admonition-title::before, .md-typeset article .hint > summary::before, article .md-typeset .hint > summary::before {
  background-color: #00bfa5;
  mask-image: var(--md-admonition-icon--tip);
}

.md-typeset .admonition.success, .md-typeset article details.success, article .md-typeset details.success, .md-typeset .admonition.done, .md-typeset article details.done, article .md-typeset details.done, .md-typeset .admonition.check, .md-typeset article details.check, article .md-typeset details.check {
  border-color: #00c853;
}

.md-typeset .success > .admonition-title, .md-typeset article .success > summary, article .md-typeset .success > summary, .md-typeset .done > .admonition-title, .md-typeset article .done > summary, article .md-typeset .done > summary, .md-typeset .check > .admonition-title, .md-typeset article .check > summary, article .md-typeset .check > summary {
  background-color: rgba(0, 200, 83, 0.1);
}
.md-typeset .success > .admonition-title::before, .md-typeset article .success > summary::before, article .md-typeset .success > summary::before, .md-typeset .done > .admonition-title::before, .md-typeset article .done > summary::before, article .md-typeset .done > summary::before, .md-typeset .check > .admonition-title::before, .md-typeset article .check > summary::before, article .md-typeset .check > summary::before {
  background-color: #00c853;
  mask-image: var(--md-admonition-icon--success);
}

.md-typeset .admonition.question, .md-typeset article details.question, article .md-typeset details.question, .md-typeset .admonition.faq, .md-typeset article details.faq, article .md-typeset details.faq, .md-typeset .admonition.help, .md-typeset article details.help, article .md-typeset details.help {
  border-color: #64dd17;
}

.md-typeset .question > .admonition-title, .md-typeset article .question > summary, article .md-typeset .question > summary, .md-typeset .faq > .admonition-title, .md-typeset article .faq > summary, article .md-typeset .faq > summary, .md-typeset .help > .admonition-title, .md-typeset article .help > summary, article .md-typeset .help > summary {
  background-color: rgba(100, 221, 23, 0.1);
}
.md-typeset .question > .admonition-title::before, .md-typeset article .question > summary::before, article .md-typeset .question > summary::before, .md-typeset .faq > .admonition-title::before, .md-typeset article .faq > summary::before, article .md-typeset .faq > summary::before, .md-typeset .help > .admonition-title::before, .md-typeset article .help > summary::before, article .md-typeset .help > summary::before {
  background-color: #64dd17;
  mask-image: var(--md-admonition-icon--question);
}

.md-typeset .admonition.warning, .md-typeset article details.warning, article .md-typeset details.warning, .md-typeset .admonition.attention, .md-typeset article details.attention, article .md-typeset details.attention, .md-typeset .admonition.caution, .md-typeset article details.caution, article .md-typeset details.caution {
  border-color: #ff9100;
}

.md-typeset .warning > .admonition-title, .md-typeset article .warning > summary, article .md-typeset .warning > summary, .md-typeset .attention > .admonition-title, .md-typeset article .attention > summary, article .md-typeset .attention > summary, .md-typeset .caution > .admonition-title, .md-typeset article .caution > summary, article .md-typeset .caution > summary {
  background-color: rgba(255, 145, 0, 0.1);
}
.md-typeset .warning > .admonition-title::before, .md-typeset article .warning > summary::before, article .md-typeset .warning > summary::before, .md-typeset .attention > .admonition-title::before, .md-typeset article .attention > summary::before, article .md-typeset .attention > summary::before, .md-typeset .caution > .admonition-title::before, .md-typeset article .caution > summary::before, article .md-typeset .caution > summary::before {
  background-color: #ff9100;
  mask-image: var(--md-admonition-icon--warning);
}

.md-typeset .admonition.failure, .md-typeset article details.failure, article .md-typeset details.failure, .md-typeset .admonition.missing, .md-typeset article details.missing, article .md-typeset details.missing, .md-typeset .admonition.fail, .md-typeset article details.fail, article .md-typeset details.fail {
  border-color: #ff5252;
}

.md-typeset .failure > .admonition-title, .md-typeset article .failure > summary, article .md-typeset .failure > summary, .md-typeset .missing > .admonition-title, .md-typeset article .missing > summary, article .md-typeset .missing > summary, .md-typeset .fail > .admonition-title, .md-typeset article .fail > summary, article .md-typeset .fail > summary {
  background-color: rgba(255, 82, 82, 0.1);
}
.md-typeset .failure > .admonition-title::before, .md-typeset article .failure > summary::before, article .md-typeset .failure > summary::before, .md-typeset .missing > .admonition-title::before, .md-typeset article .missing > summary::before, article .md-typeset .missing > summary::before, .md-typeset .fail > .admonition-title::before, .md-typeset article .fail > summary::before, article .md-typeset .fail > summary::before {
  background-color: #ff5252;
  mask-image: var(--md-admonition-icon--failure);
}

.md-typeset .admonition.danger, .md-typeset article details.danger, article .md-typeset details.danger, .md-typeset .admonition.error, .md-typeset article details.error, article .md-typeset details.error {
  border-color: #ff1744;
}

.md-typeset .danger > .admonition-title, .md-typeset article .danger > summary, article .md-typeset .danger > summary, .md-typeset .error > .admonition-title, .md-typeset article .error > summary, article .md-typeset .error > summary {
  background-color: rgba(255, 23, 68, 0.1);
}
.md-typeset .danger > .admonition-title::before, .md-typeset article .danger > summary::before, article .md-typeset .danger > summary::before, .md-typeset .error > .admonition-title::before, .md-typeset article .error > summary::before, article .md-typeset .error > summary::before {
  background-color: #ff1744;
  mask-image: var(--md-admonition-icon--danger);
}

.md-typeset .admonition.bug, .md-typeset article details.bug, article .md-typeset details.bug {
  border-color: #f50057;
}

.md-typeset .bug > .admonition-title, .md-typeset article .bug > summary, article .md-typeset .bug > summary {
  background-color: rgba(245, 0, 87, 0.1);
}
.md-typeset .bug > .admonition-title::before, .md-typeset article .bug > summary::before, article .md-typeset .bug > summary::before {
  background-color: #f50057;
  mask-image: var(--md-admonition-icon--bug);
}

.md-typeset .admonition.example, .md-typeset article details.example, article .md-typeset details.example {
  border-color: #651fff;
}

.md-typeset .example > .admonition-title, .md-typeset article .example > summary, article .md-typeset .example > summary {
  background-color: rgba(101, 31, 255, 0.1);
}
.md-typeset .example > .admonition-title::before, .md-typeset article .example > summary::before, article .md-typeset .example > summary::before {
  background-color: #651fff;
  mask-image: var(--md-admonition-icon--example);
}

.md-typeset .admonition.quote, .md-typeset article details.quote, article .md-typeset details.quote, .md-typeset .admonition.cite, .md-typeset article details.cite, article .md-typeset details.cite {
  border-color: #9e9e9e;
}

.md-typeset .quote > .admonition-title, .md-typeset article .quote > summary, article .md-typeset .quote > summary, .md-typeset .cite > .admonition-title, .md-typeset article .cite > summary, article .md-typeset .cite > summary {
  background-color: rgba(158, 158, 158, 0.1);
}
.md-typeset .quote > .admonition-title::before, .md-typeset article .quote > summary::before, article .md-typeset .quote > summary::before, .md-typeset .cite > .admonition-title::before, .md-typeset article .cite > summary::before, article .md-typeset .cite > summary::before {
  background-color: #9e9e9e;
  mask-image: var(--md-admonition-icon--quote);
}

.codehilite .o, article .highlight .o {
  color: inherit;
}
.codehilite .ow, article .highlight .ow {
  color: inherit;
}
.codehilite .ge, article .highlight .ge {
  color: #000000;
}
.codehilite .gr, article .highlight .gr {
  color: #AA0000;
}
.codehilite .gh, article .highlight .gh {
  color: #999999;
}
.codehilite .go, article .highlight .go {
  color: #888888;
}
.codehilite .gp, article .highlight .gp {
  color: #555555;
}
.codehilite .gs, article .highlight .gs {
  color: inherit;
}
.codehilite .gu, article .highlight .gu {
  color: #AAAAAA;
}
.codehilite .gt, article .highlight .gt {
  color: #AA0000;
}
.codehilite .gd, article .highlight .gd {
  background-color: #FFDDDD;
}
.codehilite .gi, article .highlight .gi {
  background-color: #DDFFDD;
}
.codehilite .k, article .highlight .k {
  color: #3B78E7;
}
.codehilite .kc, article .highlight .kc {
  color: #A71D5D;
}
.codehilite .kd, article .highlight .kd {
  color: #3B78E7;
}
.codehilite .kn, article .highlight .kn {
  color: #3B78E7;
}
.codehilite .kp, article .highlight .kp {
  color: #A71D5D;
}
.codehilite .kr, article .highlight .kr {
  color: #3E61A2;
}
.codehilite .kt, article .highlight .kt {
  color: #3E61A2;
}
.codehilite .c, article .highlight .c {
  color: #999999;
}
.codehilite .cm, article .highlight .cm {
  color: #999999;
}
.codehilite .cp, article .highlight .cp {
  color: #666666;
}
.codehilite .c1, article .highlight .c1 {
  color: #999999;
}
.codehilite .ch, article .highlight .ch {
  color: #999999;
}
.codehilite .cs, article .highlight .cs {
  color: #999999;
}
.codehilite .na, article .highlight .na {
  color: #C2185B;
}
.codehilite .nb, article .highlight .nb {
  color: #C2185B;
}
.codehilite .bp, article .highlight .bp {
  color: #3E61A2;
}
.codehilite .nc, article .highlight .nc {
  color: #C2185B;
}
.codehilite .no, article .highlight .no {
  color: #3E61A2;
}
.codehilite .nd, article .highlight .nd {
  color: #666666;
}
.codehilite .ni, article .highlight .ni {
  color: #666666;
}
.codehilite .ne, article .highlight .ne {
  color: #C2185B;
}
.codehilite .nf, article .highlight .nf {
  color: #C2185B;
}
.codehilite .nl, article .highlight .nl {
  color: #3B5179;
}
.codehilite .nn, article .highlight .nn {
  color: #EC407A;
}
.codehilite .nt, article .highlight .nt {
  color: #3B78E7;
}
.codehilite .nv, article .highlight .nv {
  color: #3E61A2;
}
.codehilite .vc, article .highlight .vc {
  color: #3E61A2;
}
.codehilite .vg, article .highlight .vg {
  color: #3E61A2;
}
.codehilite .vi, article .highlight .vi {
  color: #3E61A2;
}
.codehilite .nx, article .highlight .nx {
  color: #EC407A;
}
.codehilite .m, article .highlight .m {
  color: #E74C3C;
}
.codehilite .mf, article .highlight .mf {
  color: #E74C3C;
}
.codehilite .mh, article .highlight .mh {
  color: #E74C3C;
}
.codehilite .mi, article .highlight .mi {
  color: #E74C3C;
}
.codehilite .il, article .highlight .il {
  color: #E74C3C;
}
.codehilite .mo, article .highlight .mo {
  color: #E74C3C;
}
.codehilite .s, article .highlight .s {
  color: #0D904F;
}
.codehilite .sb, article .highlight .sb {
  color: #0D904F;
}
.codehilite .sc, article .highlight .sc {
  color: #0D904F;
}
.codehilite .sd, article .highlight .sd {
  color: #999999;
}
.codehilite .s2, article .highlight .s2 {
  color: #0D904F;
}
.codehilite .se, article .highlight .se {
  color: #183691;
}
.codehilite .sh, article .highlight .sh {
  color: #183691;
}
.codehilite .si, article .highlight .si {
  color: #183691;
}
.codehilite .sx, article .highlight .sx {
  color: #183691;
}
.codehilite .sr, article .highlight .sr {
  color: #009926;
}
.codehilite .s1, article .highlight .s1 {
  color: #0D904F;
}
.codehilite .ss, article .highlight .ss {
  color: #0D904F;
}
.codehilite .err, article .highlight .err {
  color: #A61717;
}
.codehilite .w, article .highlight .w {
  color: transparent;
}
.codehilite .hll, article .highlight .hll {
  display: block;
  margin: 0 -0.6rem;
  padding: 0 0.6rem;
  background-color: rgba(255, 235, 59, 0.5);
}
@media only screen and (max-width: 44.9375em) {
  .codehilite .hll, article .highlight .hll {
    margin: 0 -0.8rem;
    padding: 0 0.8rem;
  }
}

article .codehilite, article .highlight {
  position: relative;
  margin: 1em 0;
  padding: 0;
  border-radius: 0.1rem;
  background-color: rgba(236, 236, 236, 0.5);
  color: #37474F;
  line-height: 1.4;
  -webkit-overflow-scrolling: touch;
}
article .codehilite pre, article .highlight pre,
article .codehilite code,
article .highlight code {
  display: block;
  margin: 0;
  padding: 0.525rem 0.6rem;
  background-color: transparent;
  overflow: auto;
  vertical-align: top;
}
article .codehilite pre::-webkit-scrollbar, article .highlight pre::-webkit-scrollbar,
article .codehilite code::-webkit-scrollbar,
article .highlight code::-webkit-scrollbar {
  width: 0.2rem;
  height: 0.2rem;
}
article .codehilite pre::-webkit-scrollbar-thumb, article .highlight pre::-webkit-scrollbar-thumb,
article .codehilite code::-webkit-scrollbar-thumb,
article .highlight code::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.26);
}
article .codehilite pre::-webkit-scrollbar-thumb:hover, article .highlight pre::-webkit-scrollbar-thumb:hover,
article .codehilite code::-webkit-scrollbar-thumb:hover,
article .highlight code::-webkit-scrollbar-thumb:hover {
  background-color: #536dfe;
}
article pre.codehilite, article pre.highlight {
  overflow: visible;
}
article pre.codehilite code, article pre.highlight code {
  display: block;
  padding: 0.525rem 0.6rem;
  overflow: auto;
}
article .codehilitetable, article .highlighttable {
  display: block;
  margin: 1em 0;
  border-radius: 0.2em;
  font-size: 1rem;
  overflow: hidden;
}
article .codehilitetable tbody, article .highlighttable tbody,
article .codehilitetable td,
article .highlighttable td {
  display: block;
  padding: 0;
}
article .codehilitetable tr, article .highlighttable tr {
  display: flex;
}
article .codehilitetable .codehilite, article .highlighttable .codehilite, article .codehilitetable .highlight, article .highlighttable .highlight,
article .codehilitetable .linenodiv,
article .highlighttable .linenodiv {
  margin: 0;
  border-radius: 0;
}
article .codehilitetable .linenodiv, article .highlighttable .linenodiv {
  padding: 0.525rem 0.6rem;
}
article .codehilitetable .linenos, article .highlighttable .linenos {
  background-color: rgba(0, 0, 0, 0.07);
  color: rgba(0, 0, 0, 0.26);
  user-select: none;
}
article .codehilitetable .linenos pre, article .highlighttable .linenos pre {
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: inherit;
  text-align: right;
}
article .codehilitetable .code, article .highlighttable .code {
  flex: 1;
  overflow: hidden;
}
@media only screen and (max-width: 44.9375em) {
  article > .codehilite, article > .highlight {
    margin: 1em -0.8rem;
    border-radius: 0;
  }
  article > .codehilite pre, article > .highlight pre,
article > .codehilite code,
article > .highlight code {
    padding: 0.525rem 0.8rem;
  }
}
article > .codehilitetable, article > .highlighttable {
  box-shadow: none;
}
@media only screen and (max-width: 44.9375em) {
  article > .codehilitetable, article > .highlighttable {
    margin: 1em -0.8rem;
    border-radius: 0;
  }
  article > .codehilitetable .codehilite > pre, article > .highlighttable .codehilite > pre, article > .codehilitetable .highlight > pre, article > .highlighttable .highlight > pre,
article > .codehilitetable .codehilite > code,
article > .highlighttable .codehilite > code,
article > .codehilitetable .highlight > code,
article > .highlighttable .highlight > code,
article > .codehilitetable .linenodiv,
article > .highlighttable .linenodiv {
    padding: 0.5rem 0.8rem;
  }
}
article [id^="fnref:"] {
  display: inline-block;
}
article [id^="fnref:"]:target {
  margin-top: -3.8rem;
  padding-top: 3.8rem;
  pointer-events: none;
}
article [id^="fn:"]::before {
  display: none;
  height: 0;
  content: "";
}
article [id^="fn:"]:target::before {
  display: block;
  margin-top: -3.5rem;
  padding-top: 3.5rem;
  pointer-events: none;
}
article .footnote {
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.8rem;
}
article .footnote ol {
  margin-left: 0;
}
article .footnote li {
  transition: color 0.25s;
}
article .footnote li:target {
  color: rgba(0, 0, 0, 0.87);
}
article .footnote li :first-child {
  margin-top: 0;
}
article .footnote li:hover .footnote-backref, article .footnote li:target .footnote-backref {
  transform: translateX(0);
  opacity: 1;
}
article .footnote li:hover .footnote-backref:hover, article .footnote li:target .footnote-backref {
  color: #536dfe;
}
article .footnote-ref {
  display: inline-block;
  pointer-events: initial;
}
article .footnote-ref::before {
  display: inline;
  margin: 0 0.2em;
  border-left: 0.05rem solid rgba(0, 0, 0, 0.26);
  font-size: 1.25em;
  content: "";
  vertical-align: -0.25rem;
}
article .footnote-backref {
  display: inline-block;
  transform: translateX(0.25rem);
  transition: transform 0.25s 0.125s, color 0.25s, opacity 0.125s 0.125s;
  color: rgba(0, 0, 0, 0.26);
  font-size: 0;
  opacity: 0;
  vertical-align: text-bottom;
}
[dir=rtl] article .footnote-backref {
  transform: translateX(-0.25rem);
}
article .footnote-backref::before {
  display: inline-block;
  font-size: 0.8rem;
  content: "\e31b";
}
[dir=rtl] article .footnote-backref::before {
  transform: scaleX(-1);
}

article .MJXc-display {
  margin: 0.75em 0;
  padding: 0.75em 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
@media only screen and (max-width: 44.9375em) {
  article > p > .MJXc-display {
    margin: 0.75em -0.8rem;
    padding: 0.25em 0.8rem;
  }
}
article .MathJax_CHTML {
  outline: 0;
}

article del.critic,
article ins.critic,
article .critic.comment {
  margin: 0 0.25em;
  padding: 0.0625em 0;
  border-radius: 0.1rem;
  box-decoration-break: clone;
}
article del.critic {
  background-color: #FFDDDD;
  box-shadow: 0.25em 0 0 #FFDDDD, -0.25em 0 0 #FFDDDD;
}
article ins.critic {
  background-color: #DDFFDD;
  box-shadow: 0.25em 0 0 #DDFFDD, -0.25em 0 0 #DDFFDD;
}
article .critic.comment {
  background-color: rgba(236, 236, 236, 0.5);
  color: #37474F;
  box-shadow: 0.25em 0 0 rgba(236, 236, 236, 0.5), -0.25em 0 0 rgba(236, 236, 236, 0.5);
}
article .critic.comment::before {
  padding-right: 0.125em;
  color: rgba(0, 0, 0, 0.26);
  content: "\e0b7";
  vertical-align: -0.125em;
}
article .critic.block {
  display: block;
  margin: 1em 0;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  box-shadow: none;
}
article .critic.block :first-child {
  margin-top: 0.5em;
}
article .critic.block :last-child {
  margin-bottom: 0.5em;
}

article details {
  display: block;
  padding-top: 0;
}
article details[open] > summary::after {
  transform: rotate(180deg);
}
article details:not([open]) {
  padding-bottom: 0;
}
article details:not([open]) > summary {
  border-bottom: none;
}
article details summary {
  padding-right: 2rem;
}
[dir=rtl] article details summary {
  padding-left: 2rem;
}
.no-details article details:not([open]) > * {
  display: none;
}
.no-details article details:not([open]) summary {
  display: block;
}
article summary {
  display: block;
  outline: none;
  cursor: pointer;
}
article summary::-webkit-details-marker {
  display: none;
}
article summary::after {
  position: absolute;
  top: 0.4rem;
  right: 0.6rem;
  color: rgba(0, 0, 0, 0.26);
  font-size: 1rem;
  content: "\e313";
}
[dir=rtl] article summary::after {
  right: initial;
  left: 0.6rem;
}

article .emojione {
  width: 1rem;
  vertical-align: text-top;
}

article code.codehilite, article code.highlight {
  margin: 0 0.2941176471em;
  padding: 0.0735294118em 0;
}

article .superfences-content {
  display: none;
  order: 99;
  width: 100%;
  background-color: white;
}
article .superfences-content > * {
  margin: 0;
  border-radius: 0;
}
article .superfences-tabs {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin: 1em 0;
  border: 0.05rem solid rgba(0, 0, 0, 0.07);
  border-radius: 0.2em;
}
article .superfences-tabs > input {
  display: none;
}
article .superfences-tabs > input:checked + label {
  font-weight: 700;
}
article .superfences-tabs > input:checked + label + .superfences-content {
  display: block;
}
article .superfences-tabs > label {
  width: auto;
  padding: 0.6rem;
  transition: color 0.125s;
  font-size: 0.8rem;
  cursor: pointer;
}
html article .superfences-tabs > label:hover {
  color: #536dfe;
}
@media only screen and (max-width: 44.9375em) {
  article > .superfences-tabs {
    margin: 1em -0.8rem;
    border: 0;
    border-top: 0.05rem solid rgba(0, 0, 0, 0.07);
    border-radius: 0;
  }
  article > .superfences-tabs pre,
article > .superfences-tabs code {
    padding: 0.525rem 0.8rem;
  }
}

article .task-list-item {
  position: relative;
  list-style-type: none;
}
article .task-list-item [type=checkbox] {
  position: absolute;
  top: 0.45em;
  left: -2em;
}
[dir=rtl] article .task-list-item [type=checkbox] {
  right: -2em;
  left: initial;
}
article .task-list-control .task-list-indicator::before {
  position: absolute;
  top: 0.15em;
  left: -1.25em;
  color: rgba(0, 0, 0, 0.26);
  font-size: 1.25em;
  content: "\e835";
  vertical-align: -0.25em;
}
[dir=rtl] article .task-list-control .task-list-indicator::before {
  right: -1.25em;
  left: initial;
}
article .task-list-control [type=checkbox]:checked + .task-list-indicator::before {
  content: "\e834";
}
article .task-list-control [type=checkbox] {
  opacity: 0;
  z-index: -1;
}

@font-face {
  font-family: Fira Sans;
  font-weight: 400;
  src: url(FiraSans-Regular.otf);
}
@font-face {
  font-family: Fira Sans;
  font-style: italic;
  font-weight: 400;
  src: url(FiraSans-Italic.otf);
}
@font-face {
  font-family: Fira Sans;
  font-weight: 300;
  src: url(FiraSans-Light.otf);
}
@font-face {
  font-family: Fira Sans;
  font-style: italic;
  font-weight: 300;
  src: url(FiraSans-LightItalic.otf);
}
@font-face {
  font-family: Fira Sans;
  font-weight: bold;
  src: url(FiraSans-Bold.otf);
}
@page {
  @top-left {
    background: #2196f3;
    content: counter(page);
    height: 1cm;
    color: #fff;
    text-align: center;
    width: 1cm;
  }
  @top-center {
    background: #2196f3;
    content: "";
    display: block;
    height: 0.05cm;
    opacity: 0.5;
    width: 100%;
  }
  @top-right {
    content: string(heading);
    font-size: 9pt;
    height: 1cm;
    vertical-align: middle;
    width: 100%;
  }
  @bottom-right {
    content: string(copyright);
    font-size: 9pt;
    height: 1cm;
    vertical-align: middle;
    width: 100%;
  }
}
@page :blank {
  @top-left {
    background: none;
    content: "";
  }
  @top-center {
    content: none;
  }
  @top-right {
    content: none;
  }
  @bottom-right {
    content: none;
  }
}
@page no-chapter {
  @top-left {
    background: none;
    content: none;
  }
  @top-center {
    content: none;
  }
  @top-right {
    content: none;
  }
  @bottom-right {
    content: none;
  }
}
@page chapter {
  margin: 0;
  padding: 0;
  @top-left {
    content: none;
  }
  @top-center {
    content: none;
  }
  @top-right {
    content: none;
  }
}
@page :first {
  background: url(cover.jpg) no-repeat center;
  background-size: cover;
  margin: 0;
  counter-reset: page -1;
}
html {
  color: #393939;
  font-family: Fira Sans, helvetica, arial;
  font-size: 11pt;
  font-weight: 300;
  line-height: 1.5;
}
html body article.chapter {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 297mm;
  justify-content: flex-end;
  page: chapter;
}
html body article.chapter h1.section_title {
  background-color: #2196f3;
  padding: 1cm;
  width: 60%;
  text-align: center;
  color: #fff;
  font-size: 30pt;
}
html article#doc-cover h1#doc-title {
  color: #2196f3;
  font-size: 38pt;
  margin: 5cm 2cm 0 2cm;
  page: no-chapter;
  width: 100%;
}
html body article#doc-cover {
  break-after: right;
  align-content: space-between;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  height: 297mm;
}
html body article#doc-cover address {
  background: #2196f3;
  flex: 1;
  color: #fff;
  margin: 0 -2cm;
  padding: 1cm 0;
  font-style: normal;
  white-space: pre-wrap;
}
html body article#doc-cover address:last-of-type {
  padding-right: 3cm;
  text-align: right;
}
html body article#doc-cover address:first-of-type {
  padding-left: 3cm;
}
html body article#doc-cover address p {
  margin: 0;
  padding: 0;
}
html body article#doc-cover address p#copyright {
  string-set: copyright content();
}

.html iframe, html img, .html svg {
  max-width: 100%;
  margin-top: 5px;
}

html body h1 {
  color: #2196f3;
  string-set: heading content();
}
html body h2, html body h3, html body h4 {
  color: black;
  font-weight: 400;
}
html body h2 {
  font-size: 20pt;
}
html body h3 {
  font-weight: 300;
  font-size: 15pt;
}
html body h4 {
  font-size: 13pt;
}
html body article {
  break-before: always;
}
html body article video source::before {
  content: attr(src);
}
html body article video[src]::before {
  content: attr(data-title) " https://mkpdfs.comwes.eu" attr(src);
}

div.admonition {
  break-inside: avoid;
}

h2, h3, h4, h5 {
  margin-bottom: 0.1em;
}

html body article a {
  color: #2196f3;
  text-decoration: none;
}
html body article a.external-link::after {
  content: " (" attr(href) ")";
  font-style: italic;
}
html body article table {
  border-spacing: 0;
  border-collapse: collapse;
}
html body article table tr {
  border-bottom: 1px solid #888;
}
html body article table tr td {
  padding: 4px 7px;
}
html body article#contents {
  break-before: right;
  break-after: left;
  page: no-chapter;
}
html body article#contents h2 {
  font-size: 20pt;
  font-weight: 400;
  margin-bottom: 3cm;
}
html body article#contents h3 {
  font-weight: 500;
  margin: 3em 0 1em;
}
html body article#contents h3::before {
  background: #2196f3;
  content: "";
  display: block;
  height: 0.08cm;
  margin-bottom: 0.25cm;
  width: 2cm;
}
html body article#contents ul {
  list-style: none;
  padding-left: 0.5cm;
}
html body article#contents ul li {
  border-top: 0.25pt solid #c1c1c1;
  margin: 0.15cm 0;
  padding-top: 0.15cm;
}
html body article#contents ul li::before {
  color: #2196f3;
  content: "• ";
  font-size: 40pt;
  line-height: 16pt;
  vertical-align: bottom;
}
html body article#contents ul li a {
  color: inherit;
  text-decoration: inherit;
}
html body article#contents > ul {
  list-style: none;
  padding-left: 0;
}
html body article#contents div h4 a::after, html body article#contents ul li a::after {
  color: #2196f3;
  content: target-counter(attr(href), page);
  float: right;
}
html body article#contents div h4 {
  margin: 0.15cm 0;
  padding-top: 0;
  padding-bottom: 0;
}
html body article#contents div h4 a {
  color: inherit;
}
html body article p {
  text-align: justify;
}

/*# sourceMappingURL=report.css.map */
